/* =============  import source =========== */
/*========  fonts ========== */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito+Sans:ital@0;1&display=swap');

/* =============== layout basic css ============ */
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 15px;
    line-height: 1.3em;
    color: #000000;
    -ms-overflow-style:none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    background: url("../../assets/icons/background.png") #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1250px;
    width: 100%;
    margin: 80px auto;
}

.col{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.8em;
}

.col-2{
    flex: 0.6,
}

.row{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}


.badge{
    padding: 12px 24px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    display: none;
    background: #ff3a4498;
    border-radius: 12px;
}

.circle_image{
    border-radius: 100%;
    border: 1px solid #ccc;
    padding: 60px;
    transition: all .8s ease-in-out;

    &:hover{
        border: none;
        background: #1208d6;

        img.logo{
            filter: invert(160%);
        }
    }

    img.logo {
        width: 120px;
        height: 120px;
        transition: all 300ms ease-in-out;
    }
}

.desc{
    color: #2c2c2c;
    font-weight: bold;
    line-height: 1.5em;
}

.title{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #0c0a14;
    line-height: 1.3em;
    margin: 60px 0;
    .accent{
        color: #1208d6;
    }
}

.btn, .contact-btn{
    padding: 12px 20px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 13px;
    background: #1208d6;
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 20px -2px #1208d670;
    margin-top: 60px;
    transition: all .5s ease-in-out;

    &:hover{
        transform: translate(0px, -12px);
        
    }

    &:focus{
        border: none;
        outline: none;
    }
}

.social-btn{
    padding: 10px 16px;
    display: flex;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: all .8s ease-in-out;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    margin-right: 20px;

    .btn-icon{
        width: 20px;
        height: 20px;
        color: #ffffff;
        margin-right: 8px;
        filter: invert(1);
    }
}

.wa{
    background: #3fd199;
    box-shadow: 0px 0px 16px -4px #3fd19969;

    &:hover{
        transform: translateY(-4px);
    }
}
.ig{
    background: #ff4760;
    box-shadow: 0px 0px 16px -4px #ff475f67;

    &:hover {
        transform: translateY(-4px);
    }
}
.email{
    background: #1208d6;
    box-shadow: 0px 0px 16px -4px #1208d683;

    &:hover {
        transform: translateY(-4px);
    }
}



.image-container{
    margin-left: 40px;
    justify-content: right;
    float: right;
    width: 100%;
    .illustration{
        display: flex;
        justify-content: flex-end;
        img {
            width: 64%;
        }
    }
    
}

.form-control {
    height: 36px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    background: #f8fcfff3;
    transition: all 300ms ease-in-out;
    padding: 0px 16px;

    &:focus{
        outline: none;
        border: 2px solid #1208d6;
        transform: translateY(-4px);
    }
}

.form-control-label{
    font-size: 12.5px;
    color: #646363;
    font-weight: bold;
    margin-bottom: 8px;
}
.text-area-form{
    padding: 16px;
    height: 80px;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}

/* ==========  modal css =========== */
.modal-container{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background: #30303038;
    height: 100vw;
}
.modal{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;

    .modal-content{
        background: #ffffff;
        border-radius: 12px;
        max-width: 70%;
        width: 60%;
        padding: 20px 0;

        .modal-header{
            display: flex;
            float: 1;
            justify-content: flex-end;

            .close-btn{
                background: #eef4ff81;
                height: 28px;
                width: 28px;
                margin-right: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
            }
        }

        .modal-body {
            overflow-y: auto;
            -ms-overflow-style:none;
            scrollbar-width: none;
            &::-webkit-scrollbar{
                display: none;
            }

            height: 500px !important;
             .modal-title {
                 font-family: 'Montserrat', sans-serif;
                 font-weight: bold;
                 font-size: 17px;
             }
             .form-container{
                 margin-top: 24px;
                .col{
                    padding-bottom: 0px;
                }
             }

             .other-contact-container{
                 margin-top: 20px;
             }
         }
    }

   
}


/* =============== Special mail send style ============= */

.illustartion-mail-send{
    display: flex;
    justify-content: flex-end;
    img{
        width: 75%;
    }
}